.App {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#TimeInput {
  font-size: large;
}

#mainHeader {
  background-color: #00539B;
  color: white;
}

#label {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.TimeSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}


table {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  table-layout: auto;
  text-align: center;
}

th {
  background-color: #00539B;
  color: white;
}



tr:nth-child(odd) {background-color: #f2f2f2;} 

table, th, td {
  border: 2px solid #00539B;
}
td{
  padding: 0.4rem;
  text-align: left;
}

.grid{
  justify-content: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

